body {
    background-color: black;
}

.container {
    margin-left: 2rem;
    margin-top: 8rem;

}


.display-1 {
    font-size: 5.5em;
    font-weight: bold;
    color: white;
    font-family: "Fira Sans",sans-serif;
    letter-spacing: normal;
}

.border-1 {
    height: 6px;
    width: 45%;
    border: solid;
    color: white;
    background-color: white;
}
